<%= render 'partial/navbar' %>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="text-center">
						<span style="font-size:24px;">チケットを発行する</span>
					</div>
				</div>
			
				<div class="panel-body">			
					<!-- ここからフォーム -->
					<%= form_for @listing do |f| %>
						<div class="row">
							<div class="col-md-12 select">
								<div class="form-group">
									<label>カテゴリー</label>
									<%= f.select :home_type, [["旅の企画・アイデア","旅の企画・アイデア"], ["写真・カメラ","写真・カメラ"], ["ブログ・Web関連","ブログ・Web関連"], ["英語・語学","英語・語学"], ["フリートーク・雑談","フリートーク・雑談"], ["その他","その他"]], {prompt:"カテゴリーを選択してください"}, {required: 'true', autofocus: 'true', class: 'form-control'} %>
								</div>
							</div>
						</div>
						<br>

						<div class="row">
							<div class="col-md-12 select">
								<div class="form-group">
                                <label>形式</label>
                                <%= f.text_field :pet_type, placeholder: "形式を記入してください (例　対面、オンライン、電話、メッセージなど)", class: "form-control", required: "true" %>
                           		</div>
							</div>
						</div>
						<br>

						

						<div class="row">
							<div class="col-md-12 select">
								<div class="form-group">
                                <label>エリア</label>
                                <%= f.text_field :pet_size, placeholder: "エリアを記入してください　(例　新宿、Skype、Messengerなど)", class: "form-control", required: "true" %>
                           		</div>
									
								
							</div>
						</div>
						<br>

						<div class="actions">
							<%= f.submit "Save", class: "btn btn-danger" %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>

</div>


