<%= render 'partial/navbar' %>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="text-center">
						<span style="font-size:24px;">チケットを発行する</span>
					</div>
				</div>
			
				<div class="panel-body">			
					<!-- ここからフォーム -->
					<%= form_for @listing do |f| %>
						<div class="row">
							<div class="col-md-12 select">
								<div class="form-group">
									<label>ジャンル</label>
									<%= f.select :home_type, [["企画・アイデア","企画・アイデア"], ["写真・カメラ","写真・カメラ"], ["その他","その他"]], {prompt:"選択してください"}, {required: 'true', autofocus: 'true', class: 'form-control'} %>
								</div>
							</div>
						</div>
						<br>

						<div class="row">
							<div class="col-md-12 select">
								<div class="form-group">
                                <label>形式</label>
                                <%= f.text_field :pet_type, placeholder: "形式を記入して下さい", class: "form-control", required: "true" %>
                           		</div>
							</div>
						</div>
						<br>

						

						<div class="row">
							<div class="col-md-12 select">
								<div class="form-group">
                                <label>場所</label>
                                <%= f.text_field :pet_size, placeholder: "場所・範囲を記入して下さい", class: "form-control", required: "true" %>
                           		</div>
									
								
							</div>
						</div>
						<br>

						<div class="actions">
							<%= f.submit "Save", class: "btn btn-danger" %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>

</div>


