<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <%= link_to 'チケットの売り方', '#' %>
                <br><%= link_to 'チケットの買い方', '#' %>
                <br><%= link_to '支払い方法について', '#' %>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li><a href="mailto:自分のメールアドレス?subject=お問い合わせ"><i class="fa fa-envelope"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <%= link_to '利用規約', '#' %>
                <br><%= link_to 'プライバシーポリシー', '#' %>
                <br><%= link_to '特定商取引に基づく表記', '#' %>
                <br><%= link_to '運営者情報', '#' %>
            </div>
        </div>
    </div>
</footer>